body {

    background-color: black;
    background-image: url(assets/SL_CazuzaPoetaVive_Capa-768x768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
    img{
        height: 150px;
        border: 3px solid rgb(255, 38, 0);
        border-radius: 5px;
    }

    footer p {
        color: rgb(255, 8, 0);
    }

    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(255, 0, 0);
        font-size: xx-large
        
    }